.about-section {
  background-color: white;
  padding: 50px 0;
  text-align: center;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 400px; 
  height: 300px; 
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  transform: rotate(-90deg); 
  transform-origin: center; 
  text-align: center;
}

.card:hover {
  transform: rotate(-90deg) scale(1.05); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.icon-container {
  font-size: 40px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card-content {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 250px;
}

.about-section.visible .card {
  animation: fadeInUp 0.8s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px) rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(-90deg);
  }
}
