.hero-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: background-image 5s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
  z-index: 1; 
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  position: relative; 
  z-index: 2; 
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-button {
  background-color: #0000ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 3; /* Ensure the button remains above other elements */
}

.hero-button:hover {
  background-color: #3333ff;
}

.hidden-background-image {
  display: none; 
  z-index: -1; 
}
