.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-image {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.company-name h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #000072;
  font-weight: bold;
  white-space: nowrap;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 1rem;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-links a:hover {
  color: #000072;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
  }
}