/* ourteam.css */

.our-team-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #000072;
}

.our-team-section {
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.profile-card {
  background-color: white;
  width: 220px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.profile-name {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.profile-title {
  font-size: 1rem;
  color:#000072;
}
