
.story-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
  background:white  ;
  padding: 20px;
  color: #fff;
}


.story-card {
  background: rgba(0, 0, 110, 1); 
  border-radius: 15px;
  padding: 100px;
  max-width: 800px;
  
  box-shadow: 0 10px 30px rgba(0, 0, 114, 1);
  text-align: left;
}


.story-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color:white ; 
}


.story-content {
  line-height: 1.6;
  font-size: 1rem;
}


@media (max-width: 600px) {
  .story-title {
    font-size: 2rem;
  }

  .story-content {
    font-size: 0.9rem;
  }
}
